*{
 padding:0;
    margin:0;
    box-sizing: border-box;
}
.main {
    height:calc(100vh-70px);
    display: flex;
}

.left {
    background-image: url('image/lohp_1302x955.png');
    background-size: cover;
    max-width: 50%;
    width: 50%;
    height:95vh;
    background-position: center;

    align-items: center;
    display: flex;
    justify-content: center;

}

.anaright {
    padding: 20px;
}

.right {
    max-width: 50%;
    width: 50%;
    background-color: #fff;

    color: #000;
    margin-top: 40px;
}

h1 {
    font-size: 64px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 900px;
    margin-top: 40px;
}

h2 {
    font-size: 31px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700px;

}
.textboxyazı{
   margin-left:4px;
}
.textbox
{
    width:300px; 
    background:white;
     font-weight:600px; 
     border-radius:30px;
    border:1px solid #d2d2d2;
    padding:8px 12px;
 
  text-align:center;
  display:flex;
  justify-content: center;
  align-items:center;
  height:43px;

}
.textbox2{
    width:300px; 
    background:white;
    
     border-radius:30px;
    border:1px solid #d2d2d2;
    padding:8px 12px;
 font-weight:bolder;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items:center;
  height:43px;
  margin-bottom:12px;

}
.textbox:hover{
    background-color:#f0f2f5;
    cursor: pointer;
}
.textbox2:hover{
    background-color:#f0f2f5;
    cursor:pointer;
}
.form{
    font-weight:900 !important; 
    margin-top:30px;
}
.veyakutusu{

    display:flex;
    align-items:center;
    margin-top:10px;
}
.veyakutu1{
    height:0.5px;
    width:130px;
    background-color: #d2d2d2;

}
.veyakutu2{margin-left:5px;
    margin-right:5px;
    font-size:1rem;

}
.button1{
    width:300px; 
    background:#1d9bf0;
     border-radius:30px;
    border:0px solid #1d9bf0;
    padding:8px 12px;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items:center;
  height:43px;
  margin-bottom:12px;
  color:#fff;
  font-size:15px;
  margin-top:15px;
  font-weight:bold;
}
.button1:hover{
    background-color: rgb(16, 117, 184);
    cursor: pointer;
}
.buttonyazı{
    font-weight:200px;
 font-size:12px;
   color:gray;
 margin-top:5px;
 width:320px;
}
 a{
color:#1877f2;
text-decoration:none;
}
 a:hover{

text-decoration:underline;
}
.giriş{
    margin-top:50px;

}
.button2{
    width:300px; 
    background:#fff;
     font-weight:700px; 
     border-radius:30px;
    border:1px solid #d2d2d2;
    padding:8px 12px;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items:center;
  height:43px;
  margin-bottom:12px;
  color: #1d9bf0;
  font-size:15px;
  margin-top:15px;
  font-weight:bold;
}
.button2:hover{
    background-color:#f0f2f5 ;
    cursor: pointer;
}
.menu{
    height:70px;
    display:flex;
    flex-wrap:wrap;
    background-color:#fff;
    color:gray;
    font-size:12px;
    margin-top:-5px;
    align-items:center;
    justify-content:center;
}
.menu a{
    margin-left:3px;
    margin-right:3px;
    color:gray;
    font-size:15px;
    justify-content:center;
    padding-top:10px;

}
@media(max-width:890px)
{
    .main {
        
        display: flex;
        flex-direction:column-reverse;

    }
    .left{
        margin-top:-50px;
        width:100%;

    }
    .anaright {
        padding:100px;
    }
    
  
}

